body {
    font-family: Roboto,sans-serif;
    margin: 0;
    min-height: 100vh;
}
.hero {
    background-color: #1F2937;
    padding: 5px 150px 90px;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;
}
a {
    text-decoration: none;
    color: #E5E7EB;
}

ul {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 18px;
    list-style-type: none;
}

.header h3 {
    font-size: 24px;
    color: #F9FAF8;
}

.hero-content-text span {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero-content-text p {
    margin: 5px 0px;
}
.hero-content-text p {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-content-text {
    flex: 1;
}

.image {
    flex: 1;
    display: flex;
    justify-content: flex-end; 
}

.image img {
    max-width: 100%;
    /* height: auto; */
}

.hero-content-text button {
    color: #F9FAF8;
    font-weight: 900;
    background-color: #3882F6;
    padding: 8px 30px;
    border: none;
    border-radius: 5px;
}

.title {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    text-align: center;
    margin: 40px 0;
}

.container {
    display: flex;
    justify-content: center;
    gap: 45px;
}

.info {
    max-width: 150px;
    text-align: center;
}

.empty {
    border: 3px solid #3882F6; 
    border-radius: 13px;
    width: 150px;
    height: 150px;
}

.text {
    margin-top: 8px;
}

.quote {
    background-color: #E5E7EB;
    margin-top: 50px;
}
.quote-content {
    padding: 75px 150px;
    max-width: 820px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.quote-content p {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1F2937;
    margin: 0;
    
}

.quote-content span {
    font-weight: bold;
    align-self: flex-end;
    font-size: 21px;
}

.cta-content {
    display: flex;
    justify-content: space-around;
    background-color: #3882F6;
    width: 800px;
    height: auto;
    margin: 50px auto;
    padding: 40px 50px;
    border-radius: 7px;
}

.cta-content-text {
    display: flex;
    flex-direction: column;
}

.cta-content-text span:nth-child(1) {
    color: #F9FAF8;
    font-weight: bold;
    font-size: 19px;
}

.cta-content-text span:last-child {
    color: #E5E7EB;
}

.cta-content button {
    color: #F9FAF8;
    padding: 0 40px;
    background-color: #3882F6;
    border: 2px solid #F9FAF8;
    font-weight: bold;
    border-radius: 7px;
    font-size: 15px;
}